h1, h1, h3, h4, ul, li, p{
    margin: 0;
    padding: 6px;
    font-family: 'Mochiy Pop One', sans-serif;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial;
    color: rgb(39, 38, 38);
}

header {
    padding: 50px;
    background-color: rgb(37, 161, 48);
    color: rgb(72, 34, 131);
    text-align: center;
    margin-bottom: 20px;
}

main{
    max-width: 800px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

main form {
    width: 40%;
}

main article{
    width: 45%;
}

h1, h2, h3, h4, p{
    margin-bottom: center;
}

#title {
    text-align: center;
}

label {
    display: block;
    margin-bottom: .5em;
    color:rgb(190, 110, 44);
    font-family: 'Fira Sans', sans-serif;
}

input, textarea, #details_form button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid rgb(146, 67, 67) ;
    padding: 10px;
    box-sizing: border-box;
}

.card {
    padding: 20px;
    background-color: #efefef;
    margin-bottom: 20px;
}

.bg{
    background-image: url('https://images7.alphacoders.com/617/617537.jpg');
    background-repeat: no-repeat;
    background-size: 100% , 100%;

   }

   h2{
       color:rgb(50, 20, 120);
   }

   h3, h4 {
    padding-bottom: 5px;
   }

   .card-text{
    padding-bottom: 10px;
   }

   #btn{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
   }

   #btn:hover{
       background-color: rgb(20, 6, 6);
   }

  